**/__pycache__
phase2/data
.vscode/
.idea/
experiments/
phase2/*.pth
phase2/*.pt
phase2/*.out
phase2/*.mp4
phase2/*.tar.gz
phase2/*.ckpt
!vgg.pth
*.mp4
.idea/
**/__pycache__
phase3/data
.vscode/
phase3/experiments/
phase3/*.pth
phase3/*.pt
phase3/*.out
phase3/*.mp4
phase3/*.tar.gz
phase3/!vgg.pth
.venv